body > footer {
  position: relative;
  width: 100%;
  float: left;
  min-height: 150px;
  background-color: #262626;
  padding-bottom: 20px;
  .logo-wrapper {
    width: 100%;
    min-width: 97px;
    height: 93px;
    background: url(../images/logo.png) no-repeat center;
    background-size: contain;
    margin-top: 30px;
  }
  ul {
    text-align: right;
  }
  nav {
    margin: 30px 0 32px;
    font-size: 0;
    li {
      display: inline-block;
      a {
        display: block;
        width: 85px;
        height: 38px;
        border-radius: 1px;
        color: #fff;
        font-size: $fs-title-small;
        text-align: center;
        padding-top: 10px;
      }
    }
    li.current-menu-item > a, li:hover > a {
      background-color: #ed166a;
      transition: .4s ease-out;
    }
  }
  .social {
    float: right;
    margin-right: 40px;
    li {
      display: inline-block;
      a {
        display: block;
        width: 24px;
        height: 13px;
      }
      .vk {
        background: url("../images/vk-i.png") no-repeat center;
      }
    }
  }
  .contacts {
    float: right;
    li {
      position: relative;
      display: inline-block;
      margin-right: 18px;
      padding-left: 20px;
      color: #fff;
      line-height: 8px;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        @include pseudo-absolute;
        width: 14px;
        height: 14px;
        background: url("../images/phone-i.png") no-repeat center;
        left: 0;
        top: -3px;
      }
    }
  }
  .scrollup {
    width: 87px;
    height: 83px;
    opacity: 0.42;
    border-radius: 4px;
    position: fixed;
    bottom: 21px;
    right: 60px;
    display: none;
    background: url("../images/scroll-arrow.png") no-repeat center #31b53d;
    &:hover {
      opacity: .6;
      transition: .4s ease-out;
    }
  }
}