// Set variables for font faces here
$Stolzl-Book: 'StolzlBook' , sans-serif;
$Stolzl-Bold: 'StolzlBold' , sans-serif;
$Stolzl-Medium: 'StolzlMedium' , sans-serif;
$Stolzl-Light: 'StolzlLight' , sans-serif;

// SHADOW

// Letter spacing
$ls-xl: 0.1em;
$ls-lg: 0.06em;
$ls-md: 0.04em;
$ls-sm: 0.02em;
$ls-xs: 0.01em;

// Line height
$lh-lg-x: 2;
$lh-lg: 1.6;
$lh-md: 1.4;
$lh-xs: 1.2;
$lh-sm: 1.1;

//14px
$fs-title-small: 0.875rem;
//16px
$fs-base: 1rem;
//20px
$fs-large: 1.25rem;

//$fs-middle-large: 1.125rem;
//
//$fs-extra-large: 3.125rem;

