main.rolls-page {
    position: relative;
    width: 100%;
    float: left;
    padding: 30px 0 90px;
    background-color: #fff;
    min-height: 780px
}

main.rolls-page .rolls-wrapper {
    width: 100%;
    max-width: 750px;
    float: right
}

main.rolls-page .rolls-wrapper .col-md-4 {
    position: relative;
    min-height: 330px
}

main.rolls-page .rolls-wrapper .product-wrapper {
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    background-color: #fff;
    padding-top: 65px;
    z-index: 1
}

main.rolls-page .rolls-wrapper .product-wrapper:hover .consist {
    display: block
}

main.rolls-page .rolls-wrapper .product-wrapper:hover {
    margin: -45px;
    padding: 45px;
    z-index: 99;
    border: 1px solid #9d9d9d
}

main.rolls-page .rolls-wrapper .product-wrapper header {
    color: #262626;
    font-size: 1.25rem;
    line-height: 10px;
    margin-bottom: 13px;
    text-align: center
}

main.rolls-page .rolls-wrapper .product-wrapper .thumbnail-wrapper {
    height: 175px;
    overflow: hidden;
    margin-bottom: 30px
}

main.rolls-page .rolls-wrapper .product-wrapper .thumbnail-wrapper img {
    width: 100%;
    height: auto;
    min-height: 100%
}

main.rolls-page .rolls-wrapper .consist {
    display: none;
    max-height: 81px;
    overflow: hidden;
    color: #262626;
    font-size: 1.25rem;
    line-height: 27px;
    margin-bottom: 35px;
    text-align: center
}

main.rolls-page .rolls-wrapper .product-wrapper footer {
    padding-left: 30px
}

main.rolls-page .rolls-wrapper .product-wrapper .product-price {
    color: #262626;
    font-size: 1.25rem;
    line-height: 10px;
    margin-right: 10px
}

main.rolls-page .rolls-wrapper .product-wrapper .add {
    display: inline-block;
    height: 36px;
    color: #fff;
    font-size: 1rem;
    line-height: 8px;
    background-color: #31b53d;
    border-radius: 3px;
    padding: 14px 20px 0
}

main.rolls-page .rolls-wrapper .product-wrapper .add:hover {
    background-color: #319e3b
}